
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <%= link_to 'CERRAR SESION', destroy_user_session_path, method: :delete %>

  </nav>
